body {
	background-color: #FFFFCC;
}

h1 {
	position: absolute;
	top: 70px;
	left: 200px;
	font-weight: bold;
	font-style: italic;
	color: orange;
}

#grid {
    position: absolute;
    top: 50px;
    left: 500px;
}

#buttonDone{
    position: absolute;
    top: 200px;
    left: 275px;
}

#tHeader{
    position: absolute;
    top: 120px;
    left: 250px;
}

#timer{
   position: absolute;
   top: 150px;
   left: 280px;
   width: 100px;
   height: 25px;
}

#txt{
   position: absolute;
   top: 250px;
   left: 200px;
   width: 200px;
   height: 50px;
}